# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# SQLite Database
hotel.db

# Logs
logs/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db